*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color:aquamarine ;

}

body div{
    width:80%;
    margin:0 auto;
    height:60vh;
    background-color: #fff;
    margin-top:5%;
    border-radius:5px 25px 5px 5px;
    padding:8px;
}

body h1{
    text-align: center;
    margin-top:4%;
    color:#fff;
}

#form-data{
    margin:0 auto;
    text-align: center;
    background-color: #ffff;
    padding:8px;
    
}

#form-data input[type="text"]{
    border:none;
    border-bottom: 2px solid aquamarine;
    outline: none;
    padding:8px;
    background-color: #fff;
    margin-right:10%;
}

#form-data input[type="submit"]{
    padding:8px;
    background-color: #fff;
    border:2px solid aquamarine;
    color:aquamarine;
    cursor: pointer;
   
}

ul{
    background-color: #fff;
}

li p{
    width:8px;
    height:5px;
    float: right;
    padding-bottom:5px;
    cursor: pointer;
}

#content-list li{
    margin-top:8px;
    padding:8px;
    text-transform: capitalize;
    background-color: #E9ECEF;
    list-style: none;
    color:grey;

}

li span{
    display: block;
    background-color: #E9ECEF;
}

li span:nth-child(3){
    font-size: x-small;
}